.nav {
  height: 10vh;
  display: grid;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 2;
  transition: all 0.3s ease-in-out;
}

.navFixed {
  background-color: floralwhite;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.logo h2 {
  letter-spacing: 5px;
  text-transform: uppercase;
}

.navLinks {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}

.link {
  text-decoration: none;
  cursor: pointer;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: grey;
}

@media screen and (max-width: 789px) {
  .burger {
    display: block;
    cursor: pointer;
  }

  .navLinks {
    z-index: 2;
    position: fixed;
    top: 10vh;
    right: 0;
    bottom: 0;
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: black;
  }
}

/* Prompt for log out */
.promptBackground {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}
.prompt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  border-radius: 5px;
  background-color: gray;

  height: 30vh;
  width: 20%;
  animation: showPrompt 0.3s ease-in-out forwards;
}

@keyframes showPrompt {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

.prompt p {
  color: black;
  margin: 0px 10px;
  text-align: center;
}

.prompt button {
  border-style: none;
  border-radius: 5px;
  padding: 10px 20px;
}
